.objects{
	display:inline-block;
	background:#fff3cc;
	border:#dfbc6a 1px solid;
	width:70px;
	height:70px;
	margin:10px;
	padding:8px;
	font-size:18px;
	text-align:center;
	box-shadow:2px 2px 2 px #777;
	cursor: move;
}



#drop_zone{
	background-color:#eee;
	border:#777 1px solid;
	width: 280px;
	height: 200px;
	padding: 8px;
	font-size:18px;



}